fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv
requests
httpx
tldextract
pycountry
pytest
geopy
spacy
aiohttp
lxml
pandas
tqdm
playwright
trafilatura
extruct
w3lib
lxml
email-validator
tldextract
httpx[http2]

openai
google-genai
groq

pyhunter
rapidfuzz 
beautifulsoup4
spacy>=3.0.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
requests>=2.0.0

google-api-python-client
google-auth 
google-auth-httplib2
google-auth-oauthlib